## Enosh Nyarige
### Assignment 3 - Web Server Access Log 

#### Data Mining

##### I took data from EDGAR's log file (https://www.sec.gov/dera/data/edgar-log-file-data-set.html)

In [2]:
!ls

 accessLog.txt	 log20170630   log20170630.zip	'web-server access log .ipynb'

In [4]:
data = pd.read_csv('log20170630/log20170630.csv',verbose=True, warn_bad_lines=True, error_bad_lines=False, low_memory=False)

Tokenization took: 11593.43 ms
Type conversion took: 19226.70 ms
Parser memory cleanup took: 286.10 ms

In [5]:
data.head(2)

,ip,date,time,zone,cik,accession,extention,code,size,idx,norefer,noagent,find,crawler,browser
0,101.81.133.jja,2017-06-30,00:00:00,0.0,1608552.0,0001047469-17-004337,-index.htm,200.0,80251.0,1.0,0.0,0.0,9.0,0.0,NaN
1,107.23.85.jfd,2017-06-30,00:00:00,0.0,1027281.0,0000898430-02-001167,-index.htm,200.0,2825.0,1.0,0.0,0.0,10.0,0.0,NaN

In [6]:
df = data.drop(['crawler', 'browser'], axis=1, inplace=True)

In [9]:
data

,ip,date,time,zone,cik,accession,extention,code,size,idx,norefer,noagent,find
0,101.81.133.jja,2017-06-30,00:00:00,0.0,1608552.0,0001047469-17-004337,-index.htm,200.0,80251.0,1.0,0.0,0.0,9.0
1,107.23.85.jfd,2017-06-30,00:00:00,0.0,1027281.0,0000898430-02-001167,-index.htm,200.0,2825.0,1.0,0.0,0.0,10.0
2,107.23.85.jfd,2017-06-30,00:00:00,0.0,1136894.0,0000905148-07-003827,-index.htm,200.0,3021.0,1.0,0.0,0.0,10.0
3,107.23.85.jfd,2017-06-30,00:00:00,0.0,1136894.0,0000905148-07-005350,-index.htm,200.0,2952.0,1.0,0.0,0.0,10.0
4,107.23.85.jfd,2017-06-30,00:00:00,0.0,1136894.0,0000905148-07-003547,-index.htm,200.0,3061.0,1.0,0.0,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23677595,38.140.198.dgd,2017-06-30,23:46:47,0.0,1110649.0,0001104659-17-042596,a17-15970_16k.htm,200.0,29350.0,0.0,0.0,0.0,10.0
23677596,38.140.198.dgd,2017-06-30,23:46:47,0.0,917851.0,0001104659-17-042597,-index.htm,200.0,7103.0,1.0,0.0,0.0,10.0
23677597,38.140.198.dgd,2017-06-30,23:46:47,0.0,1110649.0,0001104659-17-042596,-index.htm,200.0,6924.0,1.0,0.0,0.0,10.0
23677598,38.140.198.dgd,2017-06-30,23:46:47,0.0,917851.0,0001104659-17-042597,a17-15925_26k.htm,200.0,23202.0,0.0,0.0,0.0,10.0
23677599,38.140.198.dgd,2017-06-30,23:46:48,0.0,1071438.0,0001292814-17-001660,-index.htm,200.0,6841.0,1.0,0.0,0.0,10.0

In [ ]:
txt = pd.re